body {
    background-color: #15616d;
            color: #ffecd1;
            padding: 3%;

}
.xnome {
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size:larger;
}
.xdescricao {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: oblique;
position: float;
right: 10px;
left: 10px;
}
.xnacionalidade {
color: #ff7d00;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: initial;
}
.n1 {
font-size: larger;
}
.n2 {
font-size: medium;
}
.n3 {
font-size: small;
}
.n4 {
font-size: smaller;
}
.n5 { 
font-size: x-small;
}
#LRAL {
    float: left;
    height: 325px;
    padding: 10px;
    background-color: #78290f;
}
.image-container {
    height: 350px;
    position: relative;
}

.title {
 text-align: center;
}

ul li:nth-child(odd) {
    background-color: #001524;
}

.text-left-image {
    height: 350px;
    position: relative;
    margin-left: 330px;
}